body {
    background-image: url(../imgs/fundospace.jpg);
    background-repeat: repeat;
}

.container {
    background-color: black;
    border-radius: 30px;
}

.pacotes{
    position: absolute;
    top: 8px;
    left: 23px;
    color: black;
    text-decoration: none;
}

.album{
    position: absolute;
    top: 8px;
    left: 27px;
    color: black;
    text-decoration: none;
}

.sair{
    position: absolute;
    top: 8px;
    right: 35px;
    color: black;
    text-decoration: none;
}

.retangulo-1{
    position: absolute;
    top: 30px;
    left: 200px;
    width: 100px;
    height: 40px;
    padding: 1em;
    border: #FFF5EE 1px solid;
    border-radius: 20px;
    font-family: 'Unica One', cursive;
    background-color: #FFF5EE;
    align-items: center;
}

.retangulo-2{
    position: absolute;
    top: 30px;
    right: 200px;
    width: 100px;
    height: 40px;
    padding: 1em;
    border: #FFF5EE 1px solid;
    border-radius: 20px;
    font-family: 'Unica One', cursive;
    background-color: #FFF5EE;
    align-items: center
}

.div-brand {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-brand {
    padding: 0;
    margin: auto;
    height: 100%;
    text-align: center;
    font-size: 2em;
}

.album-container {
    width: 100%;
}

.btn-nav-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Unica One', cursive;
}

.page-number {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    text-decoration: none;
    font-family: 'Staatliches', cursive;
}

.to-pad {
    width: 100%;
    padding: 1em;
}

.card-cell {
    width: 100%;
    aspect-ratio: 9/12;
    display: flex;
    padding: 1em;
    justify-content: center;
    align-items: center;
}

.fig-missed {
    border: lightgray dashed 0.3em;
}

.fig-missed-warn {
    font-size: 3em;
    padding: 0;
    margin: 0;
    color: lightgray;
}

.fig-to-paste {
    border: dodgerblue dashed 0.3em;
}

.fig-to-paste-warn {
    font-size: 3em;
    padding: 0;
    margin: 0;
    color: dodgerblue;
}

.fig-to-paste:hover {
    cursor: pointer;
}

.fig-filled {
    flex-direction: column;
    padding: 0;
    height: 100%;
}

.fig-img {
    width: 100%;
    height: 100%;
    border: lightgray solid 0.3em;
}

.fig-filled:hover {
    transform: scale(1.1);
}

 .text-center{
    font-family: 'Unica One', cursive;
    font-size: 20px;
    color: #FFF5EE;
 }

 .albumTitulo {
	top: 340px;
    left:250px;
    font-family: 'Staatliches', cursive;
    font-size: 80px;
    color: #EEE8AA;
    text-shadow: 0.1em 0.1em 0.7em white;
    text-align: center;
 }

li {
    list-style-type: none;
}