body {
    background-image: url(../imgs/fundospace.jpg);
    background-repeat: repeat;
}

.container {
    background-color: #FFF5EE;
}

.nav-bar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF5EE;
}

.nav-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

.nav-item {
    margin: 0.6em;
    padding: 0.6em;
}

.div-brand {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-brand {
    padding: 0;
    margin: auto;
    height: 100%;
    text-align: center;
    font-size: 2em;
}

.album-container {
    width: 100%;
}

.btn-nav-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-number {
    padding: 0;
    margin: 0;
    color:royalblue;
    font-size: 1.2em;
    text-decoration: underline;
}

.to-pad {
    width: 100%;
    padding: 1em;
}

.card-cell {
    width: 100%;
    aspect-ratio: 9/12;
    display: flex;
    padding: 1em;
    justify-content: center;
    align-items: center;
}

.fig-missed {
    border: lightgray dashed 0.3em;
}

.fig-missed-warn {
    font-size: 3em;
    padding: 0;
    margin: 0;
    color: lightgray;
}

.fig-to-paste {
    border: dodgerblue dashed 0.3em;
}

.fig-to-paste-warn {
    font-size: 3em;
    padding: 0;
    margin: 0;
    color: dodgerblue;
}

.fig-to-paste:hover {
    cursor: pointer;
}


.fig-filled {
    flex-direction: column;
    padding: 0;
    height: 100%;
}


.fig-img {
    width: 100%;
    height: 100%;
    border: lightgray solid 0.3em;
}

.fig-filled:hover {
    transform: scale(1.1);
}