.btn-div {
    width: 100%;
    padding: 1em;
    font-family: 'Unica One', cursive;
}

.btn-pacote {
    width: 100%;
    display: block;
}

.msg-div {
    padding: 2em;
}

.msg-h3 {
    padding: 0;
    margin: 0;
}

.mb-3{
    font-family: 'Unica One', cursive;
    color: #FFF5EE;
    text-align: center;
    font-size: 15px;
}
